---
title: Contact
heading: How to get in touch?
changefreq: monthly
priority: 0.9
---
.row-fluid
  %dl
    %dt Facebook
    %dd Join the group <a href="https://www.facebook.com/pages/Tony-Abbott-will-never-be-prime-minister/274330505796">Tony Abbott Will Never Be Prime Minister</a>
    %dt Web
    %dd <a href="http://www.alp.org.au">The ALP</a>
