---
title: Government
heading: What has the (previous) Government ever done for us?
changefreq: daily
priority: 0.9
image: your_government.png
description:  This site exists to make ordinary Australians aware of some of the previous governments’ achievements.
keywords: 'what has the government ever done for us, auspol, achievements'
script: jquery.tablesorter.min.js,jquery.tablesorter.widgets.min.js,jquery.tablesorter.pager.min.js
style: theme.bootstrap.css,jquery.tablesorter.pager.css
---
:scss
  div.hero-unit > h2 {
    padding-top: 0px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 75px;
  }
  @media (max-width: 767px) {
    div.hero-unit > h2 {
    padding-bottom: 25px;
    }
  }
  th {
    .achievement { width: 35%; }
    .benefit { width: 65%; }
  }
.row-fluid
  %p
    The previous Australian Government, a coalition of Labor, Greens and Independents,
    accomplished quite a lot, despite what the media might tell you.
    Here's #{achievements.size} achievements we can all be proud of.
.row-fluid
  %ul#tabs.nav.nav-tabs<
    %li< <a href="#rolling" data-toggle="tab">Rolling</a>
    %li< <a href="#listing" data-toggle="tab">List</a>
  .tab-content
    #rolling.tab-pane.active.carousel.slide<
      %ol.carousel-indicators<
        -achievements.each_with_index do |ach, i|
          %li{:class => ((i == 0) ? 'active' : nil), :data => {:target => '#rolling', :'slide-to' => i}}
      .carousel-inner
        -achievements.each_with_index do |ach, i|
          .item{:class => ((i == 0) ? 'active' : nil)}
            .achievement-text.hero-unit<
              %h2 #{ach[:what]}
            .carousel-caption<
              %p<
                #{ach[:benefit]}
                %a.btn.btn-success.btn-small.more-info.pull-right{:href=>ach[:url]} more info
      %a.carousel-control.left(href="#rolling" data-slide="prev") &lsaquo;
      %a.carousel-control.right(href="#rolling" data-slide="next") &rsaquo;
    #listing.tab-pane<
      %table.tablesorter<
        %thead<
          %tr<
            %th.achievement Achievement
            %th.benefit How does this benefit Australians?
        %tfoot<
          %tr<
            %th.pager.form-horizontal(colspan="3")
              %button.btn.first(type="button")<
                %i.icon-step-backward
              %button.btn.prev(type="button")<
                %i.icon-arrow-left
              %span.pagedisplay
              %button.btn.next(type="button")<
                %i.icon-arrow-right
              %button.btn.last(type="button")<
                %i.icon-step-forward
              %select.pagesize.input-mini(title="Select page size")<
                %option(selected="selected" value="10") 10
                %option(value="20") 20
                %option(value="40") 40
              %select.pagenum.input-mini(title="Select page number")
        %tbody<
          -achievements.each_with_index do |ach, i|
            %tr<
              %td<
                %a.more-info{:href=>ach[:url]}<= ach[:what]
              %td<= ach[:benefit]
-# see http://twitter.github.com/bootstrap/base-css.html#tables
:javascript
  $(function () {
    $('#tabs a:first').tab('show');
    $.extend($.tablesorter.themes.bootstrap, {table: 'table table-bordered', header: 'bootstrap-header', footerRow: '', footerCells: '', icons: '', sortNone: 'bootstrap-icon-unsorted', sortAsc: 'icon-chevron-up', sortDesc: 'icon-chevron-down', active: '', hover: '', filterRow: '', even: '', odd: ''});
    $("table").tablesorter({theme: "bootstrap", headerTemplate: '{content} {icon}', widgets: [ "uitheme", "filter", "zebra" ], widgetOptions: { zebra: ["even", "odd"] }, headers: { 1: {sorter: false}}}).tablesorterPager({container: $(".pager"),cssGoto: ".pagenum",removeRows: false,output: '{startRow} - {endRow} / {filteredRows} ({totalRows})'});
  })
