---
title: Romans
heading: What have the Romans ever done for us?
changefreq: monthly
priority: 0.9
image: romans_python.png
description:  This video reminds us that we take much of our Government’s work for granted.
keywords: what have the Romans ever done for us
---
.row-fluid
  <iframe width="560" height="315" src="http://www.youtube-nocookie.com/embed/Qc7HmhrgTuQ?rel=0" frameborder="0" allowfullscreen></iframe>
