/*
 * Site specific style overrides.
 */
 
html,
body {
  background: #fff;
}

div.carousel-inner {
  min-height: 340px !important;
}

a.carousel-control {
  top: 150px !important;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  h1 {
    font-size: 14pt;
    line-height: 14pt;
  }
  h2 {
    font-size: 12pt;
    line-height: 12pt;
  }
}

/* Custom container */
.container {
  margin: 50px auto;
}

.container > hr {
  margin: 30px 0;
}
